.owner {
  position: relative;
  padding-left: 10px;
  color: var(--owner-color);
  font-weight: 700;
}

.owner::before {
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 0;
  width: 3px;
  background: currentColor;
  content: "";
}

.separator {
  color: var(--sx-rr);
}

.notes.notes {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
}
